<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TeacherMapper">

<!--    <select id="selectAll" resultType="com.example.entity.Teacher">-->
<!--        SELECT * FROM `teacher`-->
<!--        <where>-->
<!--            &lt;!&ndash;            <if test="id != null">AND id = #{id}</if>&ndash;&gt;-->
<!--            <if test="name != null">AND name LIKE CONCAT('%', #{name}, '%')</if>-->
<!--            &lt;!&ndash;            <if test="password != null">AND password = #{password}</if>&ndash;&gt;-->
<!--            <if test="username != null">AND username LIKE CONCAT('%', #{username}, '%')</if>-->
<!--            &lt;!&ndash;            <if test="phone != null">AND phone = #{phone}</if>&ndash;&gt;-->
<!--            &lt;!&ndash;            <if test="email != null">AND email = #{email}</if>&ndash;&gt;-->
<!--            &lt;!&ndash;            <if test="avatar != null">AND avatar = #{avatar}</if>&ndash;&gt;-->
<!--            &lt;!&ndash;            <if test="role != null">AND role = #{role}</if>&ndash;&gt;-->
<!--        </where>-->
<!--    </select>-->
    <select id="selectAll" resultMap="teacherResultMap">
        SELECT
        t.*
        FROM teacher t
        <where>
            <if test="name != null">AND t.name LIKE CONCAT('%', #{name}, '%')</if>
            <if test="username != null">AND t.username LIKE CONCAT('%', #{username}, '%')</if>
        </where>
    </select>

    <resultMap id="teacherResultMap" type="com.example.entity.Teacher">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="avatar" column="avatar"/>
        <result property="role" column="role"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="title" column="title"/>
        <result property="college" column="college"/>
    </resultMap>

    <delete id="deleteById">
        delete from `teacher`
        where id = #{id}
    </delete>

    <!-- 插入教师记录 -->
    <insert id="insert" parameterType="com.example.entity.Teacher" useGeneratedKeys="true" keyProperty="id">
        insert into `teacher`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">role,</if>
            <if test="title != null">title,</if>
            <if test="college != null">college,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
            <if test="title != null">#{title},</if>
            <if test="college != null">#{college},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Teacher">
        update `teacher`
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="role != null">role = #{role},</if>
            <if test="title != null">title = #{title},</if>
            <if test="college != null">college = #{college},</if>
        </set>
        where id = #{id}
    </update>


</mapper>